/*
File Name: App.css
Student's Name: Mohammed Sadiq Ahamed Kadar
Student ID: 301 430 160
Date: 09-17-2024
*/

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom,#517d9b, grey );
  color: aliceblue;
  font-size: large;
}

.container a {
  color: azure;
}

.container a:hover {
  color:#f0a500;
}